# --- Ansible ---
*.retry
*.vault
*.vault.yml
*.key
.ansible/
roles/
!site.yml

# --- Локальные настройки и секреты ---
.env
group_vars/*.vault.yml
host_vars/*.vault.yml
inventory/*.ini
!inventory/example.ini

# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd

# --- Vagrant ---
.vagrant/

# --- Временные файлы ---
.tmp/
*.swp
*.swo
*~

# --- IDE ---
.idea/
.vscode/
*.iml
